<style>
  .table td, .table th { vertical-align: middle; }
</style>

{{#if productos.length}}
  <h2>Lista de Productos</h2>
  <div class="table-responsive">
    <table class="table table-dark">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
      {{#each productos}}
        <tr>
          <td>{{this.title}}</td>
          <td>${{this.price}}</td>
          <td>
            <img
              src={{this.thumbnail}}
              alt="producto"
              class="img"
              width="70"
              height="70"
            />
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
{{/if}}